body{
    background-color: #1B1A24;
    color:aliceblue;
    text-align: center;
    vertical-align: middle;
    font-family:'ralewaymedium';
}
h1{
    font-family: major;
    font-size: 80px;
}
.major{

    font-family:'ralewaymedium';
    font-weight: 100;
}

.button{
    background-color: white;
    color:#1B1A24;
    vertical-align: middle;
    height: 56px;
    width:60%;
    border-radius: 8px;
    position: relative;
    left:20%;
}
@font-face {
    font-family: 'major';
    src: url('fontstyles/majormonodisplay-regular-webfont.woff2') format('woff2'),
         url('fontstyles/majormonodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fontstyles/raleway-medium-webfont.woff2') format('woff2'),
         url('fontstyles/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}