*{
    box-sizing: borderbox;
}
body{
    background-color: #1B1A24;
    color:aliceblue;
    text-align: center;
    vertical-align: middle;
    font-family:'ralewaymedium';

}
h1{
    font-family: major;
    font-size: 80px;
}
.h3{
    font-size: 80px;
    font-family:'ralewaymedium';
    color: white;
    font-weight: 400;
    text-align: left;
    margin-top: 30vh;
    margin-left: 15%;
}

#la{
    font-size: 1.60em;
    font-weight: 100;
    text-align: left;
    margin-left: 15%;
}
.qm{
    position: absolute;
    left:5vw;
    top: 95vh;
}
.logo{
    position: absolute;
    left:80vw;
    top: 92.5vh;
}
.major{

    font-family:'ralewaymedium';
    font-weight: 100;
}

.button{
    background-color: white;
    color:#1B1A24;
    height: 52px;
    line-height: 77.9%;
    letter-spacing: 0.05em;
    font-family: 'ralewaymedium';
    font-size: 18px;
    width:60%;
    border-radius: 8px;
    position: relative;
    margin-top:6vh;
}
.head{
    position:relative;
    margin-top: 10vh;
}
.major{
    margin-top:5vh;
    font-family: 'ralewaymedium';
    font-size: 12px;
    line-height: 77.9%;
    letter-spacing: 0.115em;
    color: #888696;
}
.divi{
    display:inline-block;
    width:35%;
    background-color:#888696;
    border: 0.5px solid #888696;
    border-radius: 1.5px;
    vertical-align: middle;
}
.text{
    display:inline-block;
    margin-left:1vh;
    margin-right:1vh;
    vertical-align: middle;
    font-family: 'ralewaymedium';
    font-size: 10px;
    line-height: 77.9%;
    letter-spacing: 0.03em;
    color: #888696;
}
.tagline{
    position:relative;
    width: 50%;
    margin-top:3vh;
    display:block;
    margin-left:25%;    
}
.side{
    width :20%;
    display:inline-block;
    height: 80vh;
    margin-top: 7vh;

}

.side2{
    width: 80%;
    font-size: 2em;
    padding: 10%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 15vh;
    font-weight: 100;
    text-align: left;

}


.textbox{
    margin-top: 8vh;
    width:60%;
    background-color: #1B1A24;
    height:52px;
    color:#FFFFFF;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    stroke:#FFFFFF;
    font-size: 16px;
    text-align: left;
    padding-left: 4vw;
}
::placeholder{
    color:#FFFFFF;
    opacity:40%;
}
.info{
    position:fixed;
    left:8vw;
    top:92vh;
}
.blur{
    filter: blur(8px);
}
.popup{
    position: absolute;
    top:32vh;
    left:20vw;
    width:60vw;
    height:36vh;
    background-color: #FFFFFF;
    border-radius: 8px;
}
.popupin{
    background-color: #FFFFFF;
    font-size: 20px;
    color:#1B1A24;
    font-family: 'ralewaymedium';
    padding-top:5vh;
    padding-left:6vw;
    text-align: left;
    border-radius: 8px;
}
.textbox2{
    margin-top: 2vh;
    background-color: #FFFFFF;
    border: 1.5px solid #999999;
    border-radius: 8px;
    height:44px;
    width:45vw;
    padding-left:3vw;
    font-size: 18px;
    font-family: 'ralewaymedium';
}
.cross{
    margin-left: 53vw;
    margin-top:3vh;
    display: block;
}
.next{
    margin-left:40vw;
    margin-top:4vh;
}
.nextempty{
    margin-top:0.1vh;
    margin-left:40vw;
}
.errormessage{
    text-align: left;
    color:rgb(116, 116, 116);
    padding-left: 6vw;
    padding-top: 1vh;
    font-family: 'ralewaymedium';
    font-size:'16px';
}
.dropdown{
    display: block;
    margin-top:10vh;
    height: 52px;
    width:60vw;
    padding-left: 3vh;
    background-color: #1B1A24;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    color:#FFFFFF;
    position:relative;
    margin-left:20vw;
    font-size:18px;
    font-family: 'ralewaymedium';
}
.option{
    background-color: #FFFFFF;
    color: #1B1A24;
    font-size:18px;
    font-family: 'ralewaymedium';
}
.letters{
    display: inline-block;
    margin-left: auto;
    margin-top:10vh;
    margin-bottom: 10vh;
    
}
.letter{
    background-color: #1B1A24;
    height:calc(100vw/8);
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1.5px solid #FFFFFF;
    width:7vw;
    margin-left: 1vw;
    font-size: calc(100vw/16);
    color: #FFFFFF;
    font-family: 'ralewaymedium';
    text-align: center;
}

.hide{
    color: #1B1A24;
}
@font-face {
    font-family: 'major';
    src: url('fontstyles/majormonodisplay-regular-webfont.woff2') format('woff2'),
         url('fontstyles/majormonodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fontstyles/raleway-medium-webfont.woff2') format('woff2'),
         url('fontstyles/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}